body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  font-size: 20px;
  font-weight: lighter;
  background-color: #07BF00;
}

a {
  text-decoration: none;
  color: #F0F0F0;
}

img {
  width: 100%;
}

a:hover {
  cursor: pointer;
  text-shadow: 0px 0px 10px white;
}

a:visited {
  color: #F0F0F0;
}

.ao-page {
  position: relative;
}

.ao-main-content {
  padding: 30px;
}

.ao-header-map-container {
  position: fixed;
  width: 15%;
  right: 30px;
  bottom: 30px;
}

.ao-map-image {
  box-shadow: 0 0 15px 7px rgba(161,217,242);
}

.ao-image-xsmall {
  width: 15%;
  padding-bottom: 15px;
}

.ao-image-small {
  width: 25%;
  padding-bottom: 15px;
}

.ao-image-medium {
  width: 35%;
  padding-bottom: 15px;
}

.ao-images-scroll-container {
  width: 100%;
}

.ao-text-container {
  padding-bottom: 15px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.ao-image-bottom {
  padding-bottom: 0;
}

.ao-star-container {
  position: fixed;
  width: 3%;
  top: 20%
  right: 10%;
  animation-name: star-one;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  /* animation-timing-function: ease-in-out; */
}

@keyframes star-one {
  from {
    top: 20%;
    right: 10%
  }
  to {
    top: 50%;
    right: 90%;
  }
}

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 50px;
  }

  .ao-header-map-container {
    position: fixed;
    width: 30%;
    right: 30px;
    bottom: 75px;
  }

  .ao-image-xsmall {
    width: 35%;
    padding-bottom: 15px;
  }

  .ao-image-small {
    width: 45%;
    padding-bottom: 15px;
  }

  .ao-image-medium {
    width: 55%;
    padding-bottom: 15px;
  }

  .ao-image-bottom {
    padding-bottom: 50px;
  }

  .ao-star-container-one {
    width: 5%;
  }

}
