body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  font-size: 20px;
  font-weight: lighter;
  background-color: #07BF00;
}

a {
  text-decoration: none;
  color: #F0F0F0;
}

img {
  width: 100%;
}

a:hover {
  cursor: pointer;
  text-shadow: 0px 0px 10px white;
}

a:visited {
  color: #F0F0F0;
}

.ao-page {
  position: relative;
}

.ao-main-content {
  padding: 30px;
}

.ao-header-map-container {
  position: fixed;
  width: 15%;
  right: 30px;
  bottom: 30px;
}

.ao-map-image {
  box-shadow: 0 0 15px 7px rgba(161,217,242);
}

.ao-images-scroll-container {
  width: 100%;
}

.ao-star-container-one {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 25px;
  animation-name: flash;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.ao-star-container-two {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 35px;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.ao-star-container-three {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 65px;
  animation-name: flash;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.ao-star-container-four {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 90px;
  animation-name: flash;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

.ao-star-container-five {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 105px;
  animation-name: flash;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}

.ao-star-container-six {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 125px;
  animation-name: flash;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
}

.ao-star-container-seven {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 180px;
  animation-name: flash;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.ao-star-container-eight {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 190px;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.ao-star-container-nine {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 205px;
  animation-name: flash;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.ao-star-container-ten {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 230px;
  animation-name: flash;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
}

.ao-star-container-eleven {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 235px;
  animation-name: flash;
  animation-duration: 6.5s;
  animation-iteration-count: infinite;
}

.ao-star-container-twelve {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 270px;
  animation-name: flash;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.ao-star-container-thirteen {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 290px;
  animation-name: flash;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.ao-star-container-fourteen {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 295px;
  animation-name: flash;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
}

.ao-star-container-fifthteen {
  position: fixed;
  width: 3%;
  top: 100px;
  left: 305px;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 50px;
  }

  .ao-header-map-container {
    position: fixed;
    width: 30%;
    right: 30px;
    bottom: 75px;
  }

  .ao-star-container-one {
    width: 5%;
  }

}
