body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  font-size: 1vw;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: black;
}

a:visited {
  color: black;
}

.ao-navigation-container {
  position: fixed;
  bottom: 0.5%;
  right: 10%;
  width: 100%;
  transform: rotate(180deg);
}

.ao-works-container {
  position: fixed;
  bottom: 5%;
  width: 100%;
}

.ao-image {
  width: 7%;
  margin: 3% 0 0 1%;
  transform: rotate(180deg);
}

.ao-contact-text {
  position: fixed;
  right: 10%;
  bottom: 5%;
  transform: rotate(180deg);
  z-index: 10;
}

.ao-flashing-text {
  animation-name: flashing-text;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.ao-dick-pic {
  position: fixed;
  width: 30%;
  margin: 0 35%;
  top: 10%;
  z-index: 2;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flashing-text {
  50% {
    color: transparent;
  }
  100% {
    color: black;
  }
}


/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .ao-navigation-container {
    font-size: 3vw;
    width: 80%;
    bottom: 2%;
    right: 10%;
  }

  .ao-works-container {
    position: fixed;
    bottom: 10%;
    width: 100%;
  }

  .ao-image {
    width: 12%;
    margin: 3% 1% 0 1%;
  }

  .ao-none {
    display: none;
  }

  .ao-contact-text {
    font-size: 3vw;
    bottom: 7%;
  }

  .ao-dick-pic {
    position: fixed;
    width: 80%;
    margin: 0 10%;
    top: 10%;

  }

}
