body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica;
  font-size: 1vw;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: black;
}

a:visited {
  color: black;
}

h9 {
  color: blue;
  text-decoration: underline;
  font-family: helvetica;
  font-size: 1vw;
}


.ao-navigation-container {
  position: fixed;
  bottom: 0.5%;
  right: 10%;
  width: 100%;
  transform: rotate(180deg);
  z-index: 99;
}

.ao-works-container {
  position: fixed;
  bottom: 5%;
  width: 100%;
}

.ao-image {
  width: 7%;
  margin: 3% 0 0 1%;
  transform: rotate(180deg);
}

.ao-contact-text {
  position: fixed;
  right: 10%;
  bottom: 5%;
  transform: rotate(180deg);
  z-index: 10;
}

.ao-flashing-text {
  animation-name: flashing-text;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.ao-dick-pic {
  position: fixed;
  width: 30%;
  margin: 0 35%;
  top: 10%;
  z-index: 2;
  animation-name: loading;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.website-link-one {
  position: absolute;
  top: 0;
  left: 10%;
  animation-name: one;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.website-link-two {
  position: absolute;
  top: 70%;
  left: 50%;
  animation-name: two;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.website-link-three {
  position: absolute;
  top: 20%;
  left: 70%;
  animation-name: three;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.website-link-four {
  position: absolute;
  top: 40%;
  left: 10%;
  animation-name: four;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flashing-text {
  50% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

@keyframes one {
  0% {
    top: 5%;
    left: 10%;
  }
  25% {
    top: 60%;
    left: 80%;
  }
  50% {
    top: 95%;
    left: 50%;
  }
  75% {
    top: 70%;
    left: 30%;
  }
  100% {
    top: 0;
    left: 10%;
  }
}

@keyframes two {
  0% {
    top: 70%;
    left: 50%;
  }
  25% {
    top: 90%;
    left: 30%;
  }
  50% {
    top: 30%;
    left: 10%;
  }
  75% {
    top: 60%;
    left: 70%;
  }
  100% {
    top: 70%;
    left: 50%;
  }
}

@keyframes three {
  0% {
    top: 20%;
    left: 70%;
  }
  25% {
    top: 70%;
    left: 10%;
  }
  50% {
    top: 20%;
    left: 50%;
  }
  75% {
    top: 80%;
    left: 80%;
  }
  100% {
    top: 20%;
    left: 70%;
  }
}

@keyframes four {
  0% {
    top: 40%;
    left: 10%;
  }
  25% {
    top: 20%;
    left: 40%;
  }
  50% {
    top: 80%;
    left: 30%;
  }
  75% {
    top: 10%;
    left: 70%;
  }
  100% {
    top: 40%;
    left: 10%;
  }
}


/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .ao-navigation-container {
    font-size: 3vw;
    width: 80%;
    bottom: 2%;
    right: 10%;
  }

  .ao-works-container {
    position: fixed;
    bottom: 10%;
    width: 100%;
  }

  .ao-image {
    width: 12%;
    margin: 3% 1% 0 1%;
  }

  .ao-none {
    display: none;
  }

  .ao-contact-text {
    font-size: 3vw;
    bottom: 7%;
  }

  .ao-dick-pic {
    position: fixed;
    width: 80%;
    margin: 0 10%;
    top: 10%;
  }

  h9 {
    font-size: 3vw;
  }

}
